@media only screen and (max-width: 360px){
    .error{
        display: none;
    }
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        .app{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            .map{
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background-image: url('/img/map.jpg');
                position: absolute;
            }
            .content{
                width: 100%;
                height: 100%;
                position: absolute;
                #topblock{
                    margin: 50px 8px 0 8px;
                    padding: 0;
                    height: 94px;
                    background-color: aqua;
                }
                #bottomblock{
                    position: fixed;
                    bottom: 0;
                    background-color: rebeccapurple;
                    height: 120px;
                    width: 100%;
                }
                #logobottom{
                    position: fixed;
                    bottom: 85px;
                }
            }
        }
    }

}

@media only screen and (min-width: 361px){
    .app{
        display: none;
    }
    .error{
        display: block;
    }
}